.modal_section {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    height: max-content;
    z-index: 9999;
    max-height: 20vh;
    overflow: hidden;
    padding: 5px;
}


.modal_container {
    padding: 10px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    background-color: black;
    color: #DDD;
    border: 4px solid white;
    font-size: 10px;
}

.modal_container > p {
    margin: 0;
}


@keyframes slidein {
    from {
        transform: translate(0, -100px)
    }
  
    to {
        transform: translate(0, 0px)
    }
  }