.button_minecraft {
    height: 50px;
	width: 100%;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
	background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
	image-rendering: pixelated;
	border: 2px solid #000;
}

.button_minecraft:hover .button_minecraft_text {
    background-color: rgba(100, 100, 255, .45);
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
}
.button_minecraft:active .button_minecraft_text {
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

.button_minecraft .button_minecraft_text {
    width: 100%;
    height: 100%;
    padding-bottom: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px #000a;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #fff7;
}
	