

.container_login_register {
    z-index: 1;
    position: absolute;
    flex-direction: column;
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 400px;
    min-height: 400px;
}

.container_top {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_top_component {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.container_top_component > span {
    margin-bottom: 5px;
}

.container_bottom {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container_bottom_action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.container_bottom > span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_bottom > span > p {
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.container_bottom > span > p:hover {
    color: #FFFFA0;
}

