

.section_enter_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 3;
}

.section_container_enter_modal {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid gray;
    background-color: rgb(38, 77, 27);
    min-width: 600px;
}

.text_enter_modal {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action_enter_modal {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}