

.container_config_game {
    z-index: 1;
    position: absolute;
    flex-direction: column;
    width: 30%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 600px;
    min-height: 400px;
}

.container_config_game_configuration {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container_config_game_configuration > input {
    text-align: center;
}

.container_config_game_configuration > span {
    margin-left: 10px;
    margin-bottom: 10px;
}

.container_config_game_configuration > button {
    margin-top: 10px;
}

.container_config_game_list_worlds {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid gray;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    scroll-behavior: smooth;
    margin-top: 5px;
}

.container_config_game_action {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_config_game_list_worlds_component {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
    min-height: 100px;
}

.container_config_game_list_worlds_component_img {
    position: relative;
    width: 20%;
    height: 60%;
    border: 2px solid gray;
    transition: filter 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_config_game_list_worlds_component_img_world {
    position: absolute;
    width: 100%;
}

.container_config_game_list_worlds_component_play {
    position: absolute;
    font-size: 25px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.container_config_game_list_worlds_component_img:hover .container_config_game_list_worlds_component_img_world {
    filter: brightness(50%);
}

.container_config_game_list_worlds_component_img:hover .container_config_game_list_worlds_component_play {
    opacity: 1;
}


.container_config_game_list_worlds_component_img:hover {
    cursor: pointer;
}

.container_config_game_list_worlds_component_text {
    width: 50%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3%;
}

#info_world {
    color: gray;
}


.container_config_game_list_worlds_component_text_world_name {
    font-size: 15px;
    font-weight: bold;
    color: white;
}
