
.section_home {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/home-bg.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 0;
  }
  
  .blur_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
  }

  .logo {
    position: absolute;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    top: 3%;
    z-index: 1;
  }
